<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Log in to ViitorCloudTest</h3>
            <div class="card-text">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User name</label>
                        <input type="text" formControlName="username" class="form-control form-control-sm" id="exampleInputEmail1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" formControlName="password" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-block">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>